<style>
<!--
.thumbnail img{
	height:200px!important;
}
.table td {
	padding: 3px!important;
}

-->
</style>
<div class="row ">
	<div class="span12 espacio">
		
		<?php // Zend_Debug::dump($this->torneos);
			if($this->torneos){?>
		<div class="row">
			<div class="span12">
			<h4 class="muted">Torneos/Ligas recientes</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Torneo</th>
						<th>Temporada</th>
						<th>Participantes</th>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->torneos as $torneo){
					$filter = new Zend_Filter_PregReplace(array('match' => '/ /','replace' => '-'));					?>
						<tr>
							<td><a href="<?php echo $this->baseUrl("/admin/torneos/".$torneo['torneoid']);?>"><small> <?php echo $torneo['nombretorneo'];?></small></a></td>
							<td><a href="#"><small> <?php echo $torneo['nombre'];?></small></a></td>
							<td><small> <?php echo $torneo['participantes'];?> competidores</small></td>
							<td></td>
						</tr>
					
					<?php }?>
				</tbody>
			</table>
			</div>
		</div>
		<?php }?>
		
		<div class="row">
			<div class="span6">
				<h4 class="muted">Nuevo torneo/liga</h4>
					<ul class="thumbnails">
						<li class="span3">
							<div class="thumbnail">
								<img src="<?php echo $this->baseUrl("/media/standar/copa.jpg");?>"/>
								<p class="text-center"><small>Torneo de eliminación sencilla</small></p>
								<a href="#" class="btn btn-large btn-primary btn-block">Crear torneo de copa <i class="icon-chevron-right icon-white"></i></a>
							</div>
						</li>
						<li class="span3">
							<div class="thumbnail">
								<img src="<?php echo $this->baseUrl("/media/standar/liga.jpg");?>"/>
								<p class="text-center"><small>Torneo por jornadas o fechas</small></p>
								<a href="#" class="btn btn-large btn-primary btn-block">Crear torneo de liga <i class="icon-chevron-right icon-white"></i></a>
							</div>
						</li>
					</ul>
			</div>
			<div class="span6">
				<h4 class="muted">Ultimos movimientos</h4>
			</div>
		</div>
	</div>
</div>