[class^="gicon-"], [class*="gicon-"] {
display: inline-block;
width: 26px;
height: 26px;
margin-top: 1px;
line-height: 26px;
vertical-align: middle;
background-repeat: no-repeat;
}

.gicon-soccer{	background-image: url(../img/icons/glyphicons_329_soccer_ball.png);}
.gicon-unlike{	background-image: url(../img/icons/glyphicons_344_thumbs_down.png);}
.gicon-premio{	background-image: url(../img/icons/glyphicons_332_certificate.png);}
.gicon-flag{ background-image: url(../img/icons/glyphicons_337_pin_flag.png);}
.gicon-copa{background-image:url(../img/icons/glyphicons_074_cup.png);}
.gicon-manoabajo{background-image:url(../img/icons/glyphicons_348_hand_down.png);}
.gicon-tortuga{background-image:url(../img/icons/glyphicons_338_turtle.png);}
.gicon-manoderecha{background-image:url(../img/icons/glyphicons_345_hand_right.png);}
.gicon-calendario{background-image:url(../img/icons/glyphicons_045_calendar.png);}
.gicon-graficapastel{background-image:url(../img/icons/glyphicons_042_pie_chart.png);}
.gicon-notas{background-image:url(../img/icons/glyphicons_029_notes_2.png);}


[class^="iconx-"], [class*=" iconx-"] {
display: inline-block;
width: 28px;
height: 23px;
margin-top: -2px;
line-height: 32px;
vertical-align: text-top;
background-image: url("../img/iconosfutnegro_34.png");
background-position: 14px 14px;
background-repeat: no-repeat;
}


.iconx-white{
background-image: url("../img/iconosfutblanco_34.png")!important;	
}


.iconx-copamano {background-position: -5px -5px;}
.iconx-copa {background-position: -41px -5px;}
.iconx-prize {background-position: -83px -5px;}
.iconx-marcador {background-position: -5px -45px;}
.iconx-flag {background-position: -47px -45px;}
.iconx-tiro {background-position: -84px -45px;}
.iconx-medalla {background-position: -127px -45px;}
.iconx-noticias {background-position: -5px -85px;}
.iconx-uniforme {background-position: -42px -85px;}
.iconx-tirolibre {background-position: -84px -85px;}
.iconx-canchamini {background-position: -126px -85px;}
.iconx-copabase {background-position: -168px -85px;}
.iconx-tiempoextra {background-position: -206px -85px;}
.iconx-podium {background-position: -243px -85px;}
.iconx-amonestacion {background-position: -5px -127px;}
.iconx-zapatilla {background-position: -83px -127px;}
.iconx-podium2 {background-position: -123px -127px;}
.iconx-tiroapuerta {background-position: -5px -169px;}
.iconx-silbato {background-position: -42px -169px;}
.iconx-silbato2 {background-position: -164px -169px;}
.iconx-cronometro {background-position: -202px -169px;}
.iconx-amonestacion2 {background-position: -245px -169px;}
.iconx-escudoequipo {background-position: -5px -206px;}
.iconx-zapatilla2 {background-position: -43px -206px;}
.iconx-cambio {background-position: -283px -289px;}
.iconx-banderaesquina {background-position: -3px -410px;}
.iconx-balon {background-position: -44px -410px;}
.iconx-marcador2 {background-position:-83px -410px;}
.iconx-canchavertical {background-position:-125px -410px;}
.iconx-amonestacion3 {background-position:-163px -410px;}
.iconx-porteria {background-position:-202px -410px;}
.iconx-uniforme2 {background-position:-240px -410px;}
.iconx-uniforme3 {background-position:-281px -410px;}
.iconx-arbitro {background-position:-361px -410px;}
.iconx-portero {background-position:0px -447px;}
.iconx-zapatilla3 {background-position:-41px -447px;}
.iconx-balon2 {background-position:-84px -448px;}
.iconx-canchahorizontal {background-position:-121px -448px;}
.iconx-tiroesquina {background-position:-201px -448px;}
.iconx-uniforme4 {background-position:-242px -448px;}
.iconx-falta {background-position:-281px -448px;}
.iconx-silbato3 {background-position:-320px -448px;}
.iconx-fechapartido {background-position:0px -490px;}
.iconx-portero2 {background-position:-41px -490px;}
.iconx-amonestacion4 {background-position:-116px -490px;}







