body{padding-top: 40px;/*background-color: #000629;*/
  margin: 0;
 background-attachment:fixed;
  width: 100%;
  display: table;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Scada', sans-serif!important;
}
.widget{
position: relative;
margin: 15px 0;
padding: 14px 19px 14px;
background-color: white;
border: 1px solid #DDD;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.widget2{/*
position: relative;
padding: 14px 19px 14px;
background-color: white;
border: 1px solid #DDD;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;*/
}
.widget:hover{border: 3px solid #DDD;}
.widget a:hover{color:#555;text-decoration: none;}
.widget a{color:#555; text-decoration: none;}
.noticias{}
.noticias p{text-align: justify;padding-right: 10px;}
.wrap-noticias{width:100%;float: left;height: 400px;overflow-y: scroll;}
.comentariosfb{width:100%;height: 400px;overflow-y: scroll;float: left;}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]  {width: 100% !important;}

.text-left { text-align: left!important;}
.text-right { text-align: right!important;}
.text-center {  text-align: center!important;}
.dataTables_length{float: left!important;}
.dataTables_filter{float:right!important;}
.tbl_tools{margin-top:20px!important;}
.thumbnail{background-color: white;}
table{background-color: white;}
.well{color:#333!important;}
.negrita{color:#333!important;}
.pagination ul > .disabled > span{color: #999;cursor: default;background-color: white!important;}
.espacio{margin-top:20px;margin-bottom:20px;}
@media (max-width: 979px){
body {
padding-top: 0!important;
}}
.logo_et {margin-top: -15px;background-image: url(http://www.estadiototal.com/css/img/logo/estadiototal.png);
		width: 300px;height: 107px;margin-right:50px;}
.logobar{display: block;float: left;padding-right: 10px;}





 /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

  /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }
    
    

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }
	
	.carousel .active{
	  position: relative;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
	}

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

  /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

   

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

 

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }

/*
.carousel-caption {
background-color: transparent;
position: absolute;
max-width: 550px;
padding: 0 20px;
top: 100px;
margin-left: 50%;
}


.carousel-caption h1, .carousel-caption .lead {
margin: 0;
line-height: 1.25;
color: white;
text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption h4, .carousel-caption p {
line-height: 20px;
color: white;
}
.carousel-caption h1, .carousel-caption .lead {
margin: 0;
line-height: 1.25;
color: white;
text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
*/
label{float: left;margin: 3px 10px 0 0;display: block;
text-align: right;}
input{}
.muted {
	color:#777!important;
}