<script type="text/javascript">
$(document).ready(function(){
	$("#noticia").bind('input',function(){
			var longitud = $("#noticia").val().length;
			if(longitud>0){
					$("#publish").removeClass("disabled");
					$("#publish").addClass("btn-primary");}
			else{
					$("#publish").addClass("disabled");
					$("#publish").removeClass("btn-primary");
				 }
		});

	$(".close").click(function(){
			var nid = $(this).attr('noticiaid');
			$.post("<?php echo $this->baseUrl("/admin/torneos/eliminarnoticia");?>"
					,{torneoid:<?php echo $this->torneoid ?>,noticiaid:nid},
						function(data){
							console.log('Eliminado');
						},"json");
		});

	$("#publish").click(function(){
		var longitud = $("#noticia").val().length;
		if(longitud>0){
				$("#publish").button("loading");			
				$.post("<?php echo $this->baseUrl("/admin/torneos/cargarnoticia");?>"
						,$("#form-noticia").serialize(),
							function(data){
						 		var dFecha=new Date(data.response.fecha);
						 		
								$("tr:first").before(''+
										'<tr>'+
										'<td>'+
										'<button type="button" noticiaid="'+data.response.noticiaid+'" class="close" data-dismiss="alert">×</button>'+
										data.response.noticia.replace(/(\r\n|\n|\r)/gm, "<br>")+
											'<div class="pull-rigth">'+
												'<small class="muted">Administrador - '+dFecha.toUTCString()+'</small>'+
											'</div>'+
										'</td>'+
										'</tr>'
										);
								$("#publish").button('reset');
								$("#noticia").val('');
								$("#publish").addClass("disabled");
								$("#publish").removeClass("btn-primary");
								console.log(data);
							},"json");
		}
		});
});

</script>
<div class="row espacio">
	<div class="row">
		<div class="span12">
			<ul class="breadcrumb">
			  <li><a href="<?php echo $this->baseUrl("/admin");?>">Dashboard</a> <span class="divider">/</span></li>
			  <li class="active"><?php echo strtolower($this->torneoinfo['nombre']);?></li>
			</ul>
		</div>
	</div>
	<div class="row">
			<h3 class="muted"><?php echo $this->torneoinfo['nombre'];?></h2>
			<!-- Noticias del partido -->
			<div class="span6">
					<form id="form-noticia" method="post" action="">
						<h4><i class="icon-pencil"></i> Publicar noticia en el torneo</h4>
						<textarea id="noticia" name="noticia" rows="4" style="width:95%;"></textarea>
						<input type="hidden" name="torneoid" value="<?php echo $this->torneoid;?>"/>
						<div class="pull-right">
							<button id="publish" type="button" class="btn disabled" data-loading-text="publicando noticia...">publicar</button>
						</div>
					</form>
					<h4>Ultimas noticias</h4>
					<div id="updatenoticias">
						<table class="table">
							<tbody>
						<?php foreach($this->noticias as $noticia){
									$date = new Zend_Date($noticia['cFecha']);?>
							<tr>
								<td>
								<button type="button" noticiaid="<?php echo $noticia['idTorneo_noticia'];?>" class="close" data-dismiss="alert">×</button>
								<?php echo nl2br($this->escape($noticia['cTexto']));?>
									<div class="pull-rigth">
										<small class="muted">Administrador - <?php echo $date->get(Zend_Date::DATETIME_FULL,'es');?></small>
									</div>
								</td>
							</tr>
						<?php }?>
							</tbody>
						</table>
					</div>
			</div>
			<!-- Opciones -->
			<div class="span6">
				<h4><i class="icon-share-alt"></i> Acceso rápido</h4>
				<div class="well">
					<a href="<?php echo $this->baseUrl("/admin/partidos/nuevo/".$this->torneoid);?>" class="btn  btn-large btn-info btn-block"><i class="icon-plus icon-white"></i> Crear nuevo partido</a>
					<a href="#" class="btn  btn-large btn-info btn-block"><i class="icon-list icon-white"></i> Resultado de partidos</a>
					<a href="#" class="btn  btn-large btn-info btn-block"><i class="icon-flag icon-white"></i> Agregar equipo a torneo/liga</a>
					<a href="#" class="btn  btn-large btn-info btn-block"><i class="icon-user icon-white"></i> Agregar jugador a un equipo</a>
					<a href="#" class="btn  btn-large btn-info btn-block"><i class="icon-bullhorn icon-white"></i> Crear nuevo estadio</a>
					<a href="#" class="btn  btn-large btn-info btn-block"><i class="icon-hand-left icon-white"></i> Crear nuevo arbitro</a>
				</div>
			</div>
	</div>
</div>