<?php 
$web= parse_url($this->serverUrl(true));
$this->headMeta()->setProperty('og:title', 'Calendario del equipo - '.$this->informacionEquipo['nombre']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/escudos/'.$this->informacionEquipo['escudo']);
$this->headMeta()->setProperty('og:description','Calendario con fechas de juego del Equipo -   www.EstadioTotal.com' );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>

<script type="text/javascript">
	$(document).ready(function(){

			oTable=$('#calendarioequipo').dataTable({
				"bJQueryUI": false,
	        	
				"bProcessing":true,
				"sDom": "<'tbl_buscar'lfr<'clear'>><'tbl_tools'T<'clear'>>t<'widget-bottom'ip>",
				"oTableTools":{
					"sSwfPath":"<?php echo $this->baseUrl().'/swf/copy_csv_xls_pdf.swf'; ?>",
					"aButtons": [
									{
										"sExtends": "copy",
										"sButtonText": "Copiar"
									},
									{
										"sExtends": "xls",
										"sButtonText": "Excel"
									},
									{	"sExtends":"pdf",
										"sButtonText":"Pdf"
									},
									{	"sExtends":"print",
										"sButtonText":"Imprimir"
									}
								]
				},
				"oLanguage": {
	                "sUrl": "<?php echo $this->baseUrl().'/spanish.txt';?>"
	            }
			});
		
		});
</script>

<div class="row-fluid espacio">
	<div class="span12 widget2">
		<div style="float:left"><h2>EQUIPO <?php echo $this->informacionEquipo['nombre']." ";?><small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.$this->torneoid);?>"><?php echo $this->informacionTorneo['nombre'];?></a></small></h2></div>
	</div>
</div>
<div class="row-fluid espacio">
	<div class="span3 widget2">
		<div class="row-fluid">
			<div class="span12">
				<ul class="thumbnails span12">
					<li class="span12">
						<div class="thumbnail">
							<img src="<?php echo $this->baseUrl('/media/escudos/'.$this->informacionEquipo['escudo']);?>"/>
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<a href="<?php echo $this->baseUrl("/".$this->informacionCreador['nombreurl']."/torneo/".$this->informacionTorneo['torneoid'].
						"/equipo/".$this->informacionEquipo['equipoid']."/estadisticas");?>"  class="btn btn-block  " type="button"><i class="gicon-graficapastel "></i> Gráficas del Equipo</a>
				<a href="<?php echo $this->baseUrl("/".$this->informacionCreador['nombreurl']."/torneo/".$this->informacionTorneo['torneoid'].
						"/equipo/".$this->informacionEquipo['equipoid']);?>" class="btn btn-block  " type="button"><i class="gicon-notas"></i> Información del Equipo</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
			 	<!-- Sponsors -->
			</div>
		</div>
	</div>
	<div class="span9 widget2">
			<div class="page-header"><h3>Calendario del Equipo</h3></div>
			<table id="calendarioequipo" class="table table-striped table-bordered" >
				<thead>
					<tr>
						<th class="text-center">Fecha</th>
						<th class="text-center">Hora</th>
						<th class="text-center">Local</th>
						
						<th class="text-center">vs</th>
		
						<th class="text-center">Visita</th>
						<th class="text-center">Ficha</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->calendarioEquipo as $partido){
					$fechapartido= new Zend_Date($partido['fechahora']);?>
					<tr>
						<td class="text-center">
							<small>
							<?php echo $fechapartido->toString("d'/'MMM'/'YYYY");?>
							</small>
						</td>
						<td class="text-center">
							<small><?php echo $fechapartido->toString("hh':'mm");?>
							</small>
						</td>
						<td class="text-left">
							<img src="<?php echo $this->baseUrl('/media/escudos/'.$partido['escudolocal']);?>" width=24 height=24 style="margin-right: 10px;"/>
							<small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
									$this->torneoid.'/equipo/'.$partido['localid']);?>"><?php echo $partido['local'];?></a></small>
							<?php if($partido['localid']==$this->informacionEquipo['equipoid']){?>
								<i class="icon-star"></i>
							<?php }?>
						</td>
						<td class="text-center">
							<small><span class="badge badge-info"><?php echo $partido['goleslocal']." - ".$partido['golesvisita'];?></span></small>
						</td>
						<td class="text-right">
							<?php if($partido['visitaid']==$this->informacionEquipo['equipoid']){?>
									<i class="icon-star"></i>
								<?php }?>
							<small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
										$this->torneoid.'/equipo/'.$partido['visitaid']);?>"><?php echo $partido['visita'];?></a></small>
							<img src="<?php echo $this->baseUrl('/media/escudos/'.$partido['escudovisita']);?>" width=24 height=24 style="margin-left: 10px;"/>
						</td>
						<td class="text-center">
							<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
									$this->torneoid.'/partido/'.$partido['partidoid']);?>">
								<i class=" icon-list-alt"></i>
							</a>
						</td>
						
					</tr>
					<?php }?>
				</tbody>
			</table>
	</div>
</div>
<div class="row-fluid espacio">
	<div class="span12 widget2">
		<div class="page-header"><h3>Comentarios</h3></div>
		<?php  $web= parse_url($this->serverUrl(true));?>
		<fb:comments id="fbplugin" href="<?php echo $web['host'].$web['path'];?>"  num_posts="5"></fb:comments>
	</div>
</div>