<?php 
$web= parse_url($this->serverUrl(true));
$this->headMeta()->setProperty('og:title', 'Equipos del Torneo - '.$this->informacionTorneo['nombre']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/logos/'.$this->informacionCreador['logo']);
$this->headMeta()->setProperty('og:description','Equipos registrados en el Torneo -   www.EstadioTotal.com' );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>

<script type="text/javascript">
	$(document).ready(function(){

			oTable=$('#tabla').dataTable({
				"bJQueryUI": false,
				"bProcessing":true,
				"aaSorting":[],
				"bPaginate":false,
				"sDom": "<'tbl_buscar'lfr<'clear'>><'tbl_tools'T<'clear'>>t<'widget-bottom'ip>",
				"oTableTools":{
					"sSwfPath":"<?php echo $this->baseUrl().'/swf/copy_csv_xls_pdf.swf'; ?>",
					"aButtons": [
									{
										"sExtends": "copy",
										"sButtonText": "Copiar"
									},
									{
										"sExtends": "xls",
										"sButtonText": "Excel"
									},
									{	"sExtends":"pdf",
										"sButtonText":"Pdf"
									},
									{	"sExtends":"print",
										"sButtonText":"Imprimir"
									}
								]
				},
				"oLanguage": {
	                "sUrl": "<?php echo $this->baseUrl().'/spanish.txt';?>"
	            }
			});

		
			
		});
</script>


<!-- Titulo del torneo -->
<div class="row-fluid espacio">	
	<div class="span12 widget2">
		<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.$this->torneoid);?>">
		<div style="float:left"><h2><?php echo $this->informacionTorneo['nombre']." ";?></h2></div>
		</a>
		<div style="float: left;width: 200px;margin-top: 20px;margin-left: 25px;">
			<fb:like href="<?php echo $this->serverUrl(true);?>" send="true" layout="button_count" width="450" show_faces="true"></fb:like>
		</div>
	</div>
</div>
<!-- Fin Titulo del torneo -->

<div class="row-fluid espacio">
	<div class="span3 widget2">Sponsors</div>
	<div class="span9 widget2">
		<div class="page-header">
			<h3 id="titulojornada">Equipos del Torneo</h3>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
				<ul	class="thumbnails">
				<?php 
				$web= parse_url($this->serverUrl(true));
				 $i=0;
				foreach($this->equiposTorneo as $equipo){
				if($i%4==0 && $i>0){ echo "</ul></div><div class='row-fluid'><ul class='thumbnails'>"; }?>
						<li class="span3">
							<a href="<?php echo $this->baseUrl("/".$this->informacionCreador['nombreurl']."/torneo/".
									$this->informacionTorneo['torneoid']."/equipo/".$equipo['equipoid']); ?>">
							<div class="thumbnail" style="cursor: pointer;">
								<h4 class="text-center"><?php echo $equipo['nombre'];?></h4>
								<img src="<?php echo $this->baseUrl("/media/escudos/".$equipo['escudo']);?>"/>
									<div class="text-center" style="margin:10px;">
									<fb:like href="<?php echo "http://".$web['host'].$this->baseUrl("/".$this->informacionCreador['nombreurl']."/torneo/".
									$this->informacionTorneo['torneoid']."/equipo/".$equipo['equipoid']);?>" send="false" layout="button_count" width="450" show_faces="false"></fb:like>
									</div>
							</div>
							</a>
						</li>
						
				<?php $i++; }?>
				</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid espacio">
			<div class="span12 widget2">
				<div class="page-header"><h3>Comentarios</h3></div>
				<?php  $web= parse_url($this->serverUrl(true));?>
				<fb:comments id="fbplugin" href="<?php echo "http://".$web['host'].$web['path'];?>"  num_posts="5"></fb:comments>
			</div>
		</div>		
	</div>
	
</div>
