<?php 
$web= parse_url($this->serverUrl(true));
$this->headMeta()->setProperty('og:title', 'Equipo - '.$this->informacionEquipo['nombre']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/escudos/'.$this->informacionEquipo['escudo']);
$this->headMeta()->setProperty('og:description','Información general del Equipo -   www.EstadioTotal.com' );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>


<div class="row-fluid espacio">
	<div class="span12 widget2">
		<div style="float:left"><h2>EQUIPO <?php echo $this->informacionEquipo['nombre']." ";?><small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.$this->torneoid);?>"><?php echo $this->informacionTorneo['nombre'];?></a></small></h2></div>
		<div style="float: left;width: 300px;margin-top: 20px;margin-left: 25px;">
			<fb:like href="<?php echo $this->serverUrl(true);?>" send="true" layout="button_count" width="450" show_faces="true"></fb:like>
		</div>
	</div>
</div>
<div class="row-fluid espacio ">
 <div class="span12 widget2">
		<ul class="thumbnails span3">
			<li class="span12">
				<div class="thumbnail">
					<img src="<?php echo $this->baseUrl('/media/escudos/'.$this->informacionEquipo['escudo']);?>"/>
				</div>
			</li>
		</ul>
		<div class="span3">
				<dl>
					<dt>Presidente del equipo</dt>
					<dd><?php echo $this->informacionEquipo['presidente'];?></dd>
					<dt>Director Técnico</dt>
					<dd><?php echo $this->informacionEquipo['directortecnico'];?></dd>
					<dt>Fundación</dt>
					<dd><?php if ($this->informacionEquipo['fechafundacion']){$fechafundacion= new Zend_Date($this->informacionEquipo['fechafundacion']);echo $fechafundacion->toString("d'/'MMMM'/'YYYY");}?></dd>
				</dl>		
		</div>
		<div class="span3">
					<dl>
						<dt></dt>
						<dd>
						<address>
							<strong>Información y Contacto</strong><br>
							Dirección: <?php echo $this->informacionEquipo['direccion'];?><br>
							Ciudad: <?php echo $this->informacionEquipo['ciudad'];?><br>
							Código Postal: <?php echo $this->informacionEquipo['codigopostal'];?><br>
							Teléfono: <?php echo $this->informacionEquipo['telefono'];?><br>
							Email: <?php echo $this->informacionEquipo['correo'];?><br>						
						</address>
						</dd>
						
					</dl>	
		</div>
		<div class="span3">
				<h3>Goleadores del equipo</h3>
				<?php foreach ($this->goleadores as $goleador){?>
				<div class="media">
					<a class="pull-left" href="#">
						<img width="42" height="42" class="media-object" src="<?php echo $this->baseUrl('/media/jugadores/'.$goleador['foto']);?>"/>
					</a>
					<div class="media-body">
						<h6><?php echo $goleador['nombre']?><br>
						<small>TOTAL DE GOLES: <?php echo $goleador['goles'];?></small>
						</h6>
					</div>
				</div>
				<?php }?>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span4 widget2">
		<div class="page-header"><h3>Estadísticas</h3></div>
		<table class="table ">
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><i class="gicon-premio"></i> Puntos Obtenidos</td>
				<td><span class="badge badge-success"><?php echo $this->estadisticasEquipo['PTS'];?></span></td>
			</tr>
			<tr>	
				<td><i class="gicon-soccer"></i> Goles Anotados </td>
				<td><span class="badge badge-success"><?php echo $this->estadisticasEquipo['GF'];?></span></td>
			</tr>
			<tr>	
				<td><i class="gicon-unlike"></i> Goles Recibidos </td>
				<td><span class="badge badge-important"><?php echo $this->estadisticasEquipo['GC'];?></span></td>
			</tr>
			<tr>
				<td><i class="gicon-flag"></i> Partidos Jugados</td>
				<td><span class="badge badge-info"> <?php echo $this->estadisticasEquipo['JJ'];?></span></td>
			</tr>
			<tr>
				<td><i class="gicon-copa"></i> Partidos Ganados</td>
				<td><span class="badge badge-success"><?php echo $this->estadisticasEquipo['JG'];?></span></td>
			</tr>
			<tr>
				<td><i class="gicon-tortuga"></i> Partidos Perdidos</td>
				<td><span class="badge badge-important"><?php echo $this->estadisticasEquipo['JP'];?></span></td>
			</tr>
			<tr>
				<td><i class="gicon-manoderecha"></i> Partidos Empatados</td>
				<td><span class="badge badge-warning"><?php echo $this->estadisticasEquipo['JE'];?></span></td>
			</tr>
		</tbody>
		</table>
		<div class="row-fluid">
			<div class="span12">
				<a href="<?php echo $this->baseUrl("/".$this->informacionCreador['nombreurl']."/torneo/".$this->informacionTorneo['torneoid'].
						"/equipo/".$this->informacionEquipo['equipoid']."/calendario");?>"  class="btn btn-block  " type="button"><i class="gicon-calendario "></i> Calendario del Equipo</a>
				<a href="<?php echo $this->baseUrl("/".$this->informacionCreador['nombreurl']."/torneo/".$this->informacionTorneo['torneoid'].
						"/equipo/".$this->informacionEquipo['equipoid']."/estadisticas");?>" class="btn btn-block  " type="button"><i class="gicon-graficapastel"></i> Gráficas del Equipo</a>
			</div>
		</div>
	</div>
	<div class="span8 widget2">
		<div class="page-header"><h3>Plantilla del equipo</h3></div>
		<div class="row-fluid">
				<ul class="thumbnails">
				<?php $i=0;foreach($this->equipoPlantel as $jugador){
					if($i%6==0 && $i>0){echo '</ul><ul class="thumbnails">';}
					$nombre=str_word_count($jugador['nombre'],1);
					$nombre = (count($nombre)>=2)?$nombre=$nombre[0]." ".$nombre[1]:$nombre=$nombre[0];				
					?>
					
					<li class="span2" style="cursor:pointer;">
						<div class="thumbnail jugadores">
							<img width="100" height="100" src="<?php echo $this->baseUrl('/media/jugadores/'.$jugador['foto']);?>"/>
							<h6 class="text-center"><?php echo $nombre;?></h6>
						</div>
					</li>
						
				<?php $i++;}?>
				</ul>
		</div>
	</div>
</div><!-- Fin Row Fluid -->
<div class="row-fluid espacio">
	<div class="span12 widget2">
		<div class="page-header"><h3>Comentarios</h3></div>
		<?php  $web= parse_url($this->serverUrl(true));?>
		<fb:comments id="fbplugin" href="<?php echo $web['host'].$web['path'];?>"  num_posts="10"></fb:comments>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

			$('div.jugadores  > img').css({'width':'100px','height':'100px'});


		});
</script>
