<?php 
$web= parse_url($this->serverUrl(true));
$this->headMeta()->setProperty('og:title', 'Equipo '.$this->informacionEquipo['nombre']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/escudos/'.$this->informacionEquipo['escudo']);
$this->headMeta()->setProperty('og:description','Mira aqui las estadisticas del equipo - EstadioTotal.com' );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>

<script type="text/javascript" src="<?php echo $this->baseUrl('/js/highcharts/highcharts.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/highcharts/highcharts-more.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('/js/highcharts/modules/exporting.js');?>"></script>
<?php 
$total=$this->juegosjugados[0]['empates']+$this->juegosjugados[0]['ganados']+$this->juegosjugados[0]['perdidos'];
$totalganados=$this->juegosganados['ganadoslocal']+$this->juegosganados['ganadosvisita'];
$totalperdidos=$this->juegosganados['perdidoslocal']+$this->juegosganados['perdidosvisita'];
?>

<script type="text/javascript">

    var chart;
    var chartganados;
    var chartperdidos;
    var chartgoles;
    var chartpuntos;
    
    $(document).ready(function () {

    	 var chartpuntos = new Highcharts.Chart({
    			
    		    chart: {
    		        renderTo: 'containerpuntos',
    		        type: 'gauge',
    		        plotBackgroundColor: null,
    		        plotBackgroundImage: null,
    		        plotBorderWidth: 0,
    		        plotShadow: false
    		    },
    		    
    		    title: {
    		        text: '<?php echo $this->informacionEquipo['nombre']." - ";?>Puntos Obtenidos'
    		    },
    		    subtitle: {
                    text: 'Pts Obtenidos: <?php echo $this->informacionTorneo['ptosxganar']*$this->estadisticasEquipo['JG'];?>, Pts Posibles: <?php echo $this->informacionTorneo['ptosxganar']*$this->estadisticasEquipo['JJ'];?>'
                },
    		    
    		    pane: {
    		        startAngle: -150,
    		        endAngle: 150,
    		        background: [{
    		            backgroundColor: {
    		                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
    		                stops: [
    		                    [0, '#FFF'],
    		                    [1, '#333']
    		                ]
    		            },
    		            borderWidth: 0,
    		            outerRadius: '109%'
    		        }, {
    		            backgroundColor: {
    		                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
    		                stops: [
    		                    [0, '#333'],
    		                    [1, '#FFF']
    		                ]
    		            },
    		            borderWidth: 1,
    		            outerRadius: '107%'
    		        }, {
    		            // default background
    		        }, {
    		            backgroundColor: '#DDD',
    		            borderWidth: 0,
    		            outerRadius: '105%',
    		            innerRadius: '103%'
    		        }]
    		    },
    		       
    		    // the value axis
    		    yAxis: {
    		        min: 0,
    		        max: <?php echo $this->informacionTorneo['ptosxganar']*$this->estadisticasEquipo['JJ'];?>,
    		        
    		        minorTickInterval: 'auto',
    		        minorTickWidth: 1,
    		        minorTickLength: 10,
    		        minorTickPosition: 'inside',
    		        minorTickColor: '#666',
    		
    		        tickPixelInterval: 30,
    		        tickWidth: 2,
    		        tickPosition: 'inside',
    		        tickLength: 10,
    		        tickColor: '#666',
    		        labels: {
    		            step: 2,
    		            rotation: 'auto'
    		        },
    		        title: {
    		            text: 'Pts'
    		        },
    		        plotBands: [{
    		            from: 0,
    		            to: <?php echo $this->informacionTorneo['ptosxganar']*$this->estadisticasEquipo['JJ'];?>,
    		            color: '#55BF3B' // green
    		        }]        
    		    },
    		
    		    series: [{
    		        name: 'Puntos Obtenidos',
    		        data: [<?php echo $this->informacionTorneo['ptosxganar']*$this->estadisticasEquipo['JG'];?>],
    		        tooltip: {
    		            valueSuffix: ' Pts'
    		        }
    		    }]
    		
    		});

    	
    	chartgoles = new Highcharts.Chart({
            chart: {
                renderTo: 'containergoles',
                type: 'column'
            },
            title: {
                text: '<?php echo $this->informacionEquipo['nombre']." - ";?> PARTIDOS JUGADOS'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Goles'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Número de Goles'
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'left',
                verticalAlign: 'top',
                x: 380,
                y: 25,
                floating: true,
                shadow: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ this.y +' goles';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    dataLabels:{
                			enabled:true,
                			formatter:function(){return this.y;}
							}
                }
            },
                series: [{
                name: 'A Favor',
                data: [<?php echo $this->estadisticasEquipo['GF'];?>]
    
            }, {
                name: 'En Contra',
                data: [<?php echo $this->estadisticasEquipo['GC'];?>]
    
            }]
        });
   
    	
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '<?php echo $this->informacionEquipo['nombre']." - ";?> PARTIDOS JUGADOS'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Total',
                data: [
                    ['Empatados',   <?php echo number_format(($this->juegosjugados[0]['empates']/$total)*100,1);?>],
                    ['Perdidos',   <?php echo number_format(($this->juegosjugados[0]['perdidos']/$total)*100,1);?>],
                    ['Ganados',     <?php echo number_format(($this->juegosjugados[0]['ganados']/$total)*100,1);?>]
                ]
            }]
        });

        chartganados = new Highcharts.Chart({
            chart: {
                renderTo: 'containerganados',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '<?php echo $this->informacionEquipo['nombre']." - ";?> PARTIDOS GANADOS'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Total',
                data: [
                    ['Como Visitante',   <?php echo number_format(($this->juegosganados['ganadoslocal']/$totalganados)*100,1);?>],
                    ['Como Local',   <?php echo number_format(($this->juegosganados['ganadosvisita']/$totalganados)*100,1);?>]
                ]
            }]
        });


        chartperdidos = new Highcharts.Chart({
            chart: {
                renderTo: 'containerperdidos',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '<?php echo $this->informacionEquipo['nombre']." - ";?> PARTIDOS PERDIDOS'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Total',
                data: [
                    ['Como Visitante',   <?php echo number_format(($this->juegosganados['perdidoslocal']/$totalperdidos)*100,1);?>],
                    ['Como Local',   <?php echo number_format(($this->juegosganados['perdidosvisita']/$totalperdidos)*100,1);?>]
                ]
            }]
        });
        

        


        
    });
    

</script>
<div class="row-fluid espacio">
	<div class="span12 widget2">
		<div style="float:left"><h2>EQUIPO <?php echo $this->informacionEquipo['nombre']." ";?><small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.$this->torneoid);?>"><?php echo $this->informacionTorneo['nombre'];?></a></small></h2></div>
	</div>
</div>
<div class="row-fluid espacio">
	<div class="span3 widget2">
		<div class="row-fluid">
			<div class="span12">
				<ul class="thumbnails span12">
					<li class="span12">
						<div class="thumbnail">
							<img src="<?php echo $this->baseUrl('/media/escudos/'.$this->informacionEquipo['escudo']);?>"/>
						</div>
					</li>
				</ul>	
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<a href="<?php echo $this->baseUrl("/".$this->informacionCreador['nombreurl']."/torneo/".$this->informacionTorneo['torneoid'].
						"/equipo/".$this->informacionEquipo['equipoid']."/calendario");?>"  class="btn btn-block  " type="button"><i class="gicon-calendario "></i> Calendario del Equipo</a>
				<a href="<?php echo $this->baseUrl("/".$this->informacionCreador['nombreurl']."/torneo/".$this->informacionTorneo['torneoid'].
						"/equipo/".$this->informacionEquipo['equipoid']);?>" class="btn btn-block  " type="button"><i class="gicon-notas"></i> Información del Equipo</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
			 	<!-- Sponsors -->
			</div>
		</div>
	</div>
	<div class="span9 widget2">
		<div class="page-header"><h3 class="text-center">Estadísticas del Equipo</h3></div>
		<div class="row-fluid">
			<div class="span12">
				<div class="text-center">
					<div id="container" style="width:500px;height:250px;display:inline-block"></div>
					<div id="containerganados" style="width:500px;height:250px;display:inline-block"></div>
					<div id="containerperdidos" style="width:500px;height:250px;display:inline-block"></div>
					<div id="containergoles" style="width:500px;height:250px;display:inline-block"></div>
					<div id="containerpuntos" style="width:500px;height:250px;display:inline-block"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid espacio">
	<div class="span12 widget2">
		<div class="page-header"><h3>Comentarios</h3></div>
		<?php  $web= parse_url($this->serverUrl(true));?>
		<fb:comments id="fbplugin" href="<?php echo $web['host'].$web['path'];?>"  num_posts="5"></fb:comments>
	</div>
</div>