<?php  $web= parse_url($this->serverUrl(true));?>
<?php 
$this->headMeta()->setProperty('og:title', $this->informacionCreador['organizacion']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/logos/'.$this->informacionCreador['logo']);
$this->headMeta()->setProperty('og:description','Pagina oficial de la organizacion '.$this->informacionCreador['organizacion'] );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>
<!-- Titulo del torneo -->
<div class="row-fluid espacio">	
	<div class="span12 widget2">
		<ul class="thumbnails span3">
			<li class="span12">
				<div class="thumbnail">
					<img src="<?php echo $this->baseUrl('/media/logos/'.$this->informacionCreador['logo']);?>"/>
				</div>
			</li>
		</ul>
		<div class="span9">
			<div class="row-fluid">
				<a href="<?php echo $this->baseUrl('/'.$this->informacionCreador['nombreurl']);?>">
					<div style="float:left"><h2><?php echo $this->informacionCreador['organizacion'];?></h2></div>
				</a>
				<div style="float: left;width: 200px;margin-top: 20px;margin-left: 25px;">
					<fb:like href="http://<?php echo $web['host'].$web['path'];?>" send="true" layout="button_count" width="450" show_faces="true"></fb:like>
				</div>
			</div>
			<div class="row-fluid">
				<a target="_blank" href="<?php echo $this->informacionCreador['facebook'];?>"><img width="32" height="32" src="<?php echo $this->baseUrl('/img/facebooklogo.png');?>"/> Vista nuestro facebook</a>
			</div>
			<div class="row-fluid espacio">
				Página web en EstadioTotal:<br>
				<a href="http://<?php echo $web['host'].$web['path'];?>">http://<?php echo $web['host'].$web['path'];?></a>
			</div>
		</div>
	</div>
</div>
<!-- Fin Titulo del torneo -->
<div class="row-fluid espacio">
	<div class="accordion" id="accordion2">
	  <?php foreach($this->temporadas as $temporada){?>
	  
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	       	<h2><?php echo $temporada['nombre'];?></h2>
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse in">
	      <div class="accordion-inner">
	      		<h3 class="muted">Torneos/Categorias</h3>
	        	<?php foreach($this->temporadasCreador as $torneo){
	        		if($torneo['temporadaid']==$temporada['temporadaid']){?>
	        	 <div class="row-fluid">
	        		<div class="offset1 span10 well well-small">
	        			<h3><?php echo $torneo['nombretorneo'];?>
	        			<a href="<?php echo $this->baseUrl("/".$this->organizacion."/torneo/".$torneo['torneoid']);?>" class="btn btn-primary" style="margin-left: 50px;">
	        				Ir al Torneo <i class="icon-play icon-white" style="padding-left:10px"></i></a>
	        			</h3>	
	        			<span class="label label-info">Equipos Participantes <?php echo count($torneo['equipos']);?></span>
	        			<div class="row-fluid espacio">
						<ul class="thumbnails">	        			
	        			<?php 	$i=0;
	        					foreach($torneo['equipos'] as $equipo){
									if($i!=0 && $i%12==0){echo '</ul><ul class="thumbnails">'; }?>
	        							<li class="span1">
	        								<a href="<?php echo $this->baseUrl("/".$this->organizacion."/torneo/".$torneo['torneoid']."/equipo/".$equipo["equipoid"]);?>" class="thumbnail">
	        									<img height="50" style="height:50px;" src="<?php echo $this->baseUrl("/media/escudos/".$equipo["escudo"]);?>">
	        								</a>
	        							</li>			
	        			<?php 		
	        						$i++;
								}?>
						</ul>
	        			</div>
	        			<div class="row-fluid espacio">
	        				<ul class="thumbnails">
	        					<li class="span4">
	        						<a href="<?php echo $this->baseUrl("/".$this->organizacion."/torneo/".$torneo['torneoid']."/equipo/".$torneo['equipos'][0]['escudoid']);?>" class="thumbnail">
	        							<h5 class="text-center">LIDER GENERAL <?php echo $torneo['equipos'][0]['nombre'];?></h5>
	        							<p class="text-center">Puntos <span class="badge badge-info"><?php echo $torneo['equipos'][0]['PTS'];?></span></p>
	        							<img height="200" style="height: 200px" src="<?php echo $this->baseUrl("/media/escudos/".$torneo['equipos'][0]['escudo']);?>"/>
	        						</a>
	        					</li>
	        					<?php if(!empty($torneo['goleador'])){?>
	        					<li class="span4">
	        						<div class="thumbnail">
	        							<h5 class="text-center">GOLEADOR DEL TORNEO <?php echo $torneo['goleador']['nombre'];?></h5>
	        							<h6 class="text-center">EQUIPO <?php echo $torneo['goleador']['equipo'];?></h6>
	        							<p class="text-center"><small>Goles anotados <span class="badge badge-info"><?php echo $torneo['goleador']['goles'];?></span></small></p>
	        							<img height="170" style="height: 170px" src="<?php echo $this->baseUrl("/media/jugadores/".$torneo['goleador']['fotografia']);?>"/>
	        						</div>
	        					</li>
	        					<?php }?>
	        				</ul>
	        			</div>
	        		</div>
	        	</div>
	        	<?php }}?>
	      </div>
	    </div>
	  </div>
	  <?php }?>
	  <!-- 
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	        Collapsible Group Item #2
	      </a>
	    </div>
	    <div id="collapseTwo" class="accordion-body collapse">
	      <div class="accordion-inner">
	        Anim pariatur cliche...
	      </div>
	    </div>
	  </div>
	   -->
	</div>
</div>
