<?php 
$web= parse_url($this->serverUrl(true));
$this->headMeta()->setProperty('og:title', 'Torneo/Liga - '.$this->informacionTorneo['nombre']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/logos/'.$this->informacionCreador['logo']);
$this->headMeta()->setProperty('og:description','Resultado del partido '.$this->informacionPartido['partido']['equipovisita'].' vs '.$this->informacionPartido['partido']['equipolocal'] );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>

<script type="text/javascript">
function initialize() {
	var myLatlng = new google.maps.LatLng(<?php echo $this->informacionPartido['estadio']['latitud']; ?>, <?php echo $this->informacionPartido['estadio']['longitud']; ?>);
	var myLatlng2 = new google.maps.LatLng(<?php echo $this->informacionPartido['estadio']['latitud']+0.000500; ?>, <?php echo ($this->informacionPartido['estadio']['longitud']); ?>);
	
	  var mapOptions = {
	    zoom: 16,
	    center: new google.maps.LatLng(<?php echo $this->informacionPartido['estadio']['latitud']; ?>, <?php echo $this->informacionPartido['estadio']['longitud']; ?>),
	    mapTypeId: google.maps.MapTypeId.HYBRID,
	    zoomControl:false
	  }
	  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

	  	var	image	= 'http://estadiototal.my.phpcloud.com/version2/img/stadium.png';
		var estadioMarker = new google.maps.Marker({
		      position: myLatlng,
		      map: map,
		      icon: image,
		      title:'Estadio <?php echo $this->informacionPartido['estadio']['nombre']; ?>',
		      zIndex:9
		  });

		var estadioMarker2 = new google.maps.Marker({
		      position: myLatlng2,
		      map: map,
		      zIndex:99
		  });
	}

	function loadScript() {
	  var script = document.createElement("script");
	  script.type = "text/javascript";
	  script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyAjrale9hNyqms6yR9-JBY9n7M4EepAuCc&sensor=false&callback=initialize";
	  document.body.appendChild(script);
	}

	window.onload = loadScript;
	
	$(document).ready(function(){
		
			oTable=$('#tabla').dataTable({
				"bJQueryUI": false,
				"bProcessing":true,
				"aaSorting":[],
				"bPaginate":false,
				"sDom": "<'tbl_buscar'lfr<'clear'>><'tbl_tools'T<'clear'>>t<'widget-bottom'ip>",
				"oTableTools":{
					"sSwfPath":"<?php echo $this->baseUrl().'/swf/copy_csv_xls_pdf.swf'; ?>",
					"aButtons": [
									{
										"sExtends": "copy",
										"sButtonText": "Copiar"
									},
									{
										"sExtends": "xls",
										"sButtonText": "Excel"
									},
									{	"sExtends":"pdf",
										"sButtonText":"Pdf"
									},
									{	"sExtends":"print",
										"sButtonText":"Imprimir"
									}
								]
				},
				"oLanguage": {
	                "sUrl": "<?php echo $this->baseUrl().'/spanish.txt';?>"
	            }
			});

		});
</script>


<!-- Titulo del torneo -->
<div class="row-fluid espacio">	
	<div class="span12 widget2">
		<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.$this->torneoid);?>">
		<div style="float:left"><h2><?php echo $this->informacionTorneo['nombre']." ";?></h2></div>
		</a>
		<div style="float: left;width: 200px;margin-top: 20px;margin-left: 25px;">
			<fb:like href="<?php echo $this->serverUrl(true);?>" send="true" layout="button_count" width="450" show_faces="true"></fb:like>
		</div>
	</div>
</div>
<!-- Fin Titulo del torneo -->

<div class="row-fluid espacio">
	<div class="span12 widget2">
		<div class="page-header">
			<h3 id="titulojornada">Resumen del partido</h3>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<h4 class="well well-small" >Informacion general</h4>
				<?php $fecha=new Zend_Date($this->informacionPartido['partido']['fechahora']);?>
				<p>
					Fecha del partido: <strong><?php echo $fecha->get(Zend_Date::DATE_LONG,'es');?></strong><br>
					Hora del partido: <strong><?php echo $fecha->get(Zend_Date::TIME_SHORT,'es');?></strong>
				</p>
				<?php if(isset($this->informacionPartido['estadio'])){?>
				<h4 class="well well-small">Estadio / Cancha</h4>
				<p>
					Nombre: <strong><?php echo $this->informacionPartido['estadio']['nombre'];?></strong><br>
					Direccion: <strong><?php echo $this->informacionPartido['estadio']['direccion'];?></strong><br>
					Ciudad: <strong><?php echo $this->informacionPartido['estadio']['ciudad'];?></strong><br>
					<ul class="thumbnails">
						<li class="span12">
							<img src="<?php echo $this->baseUrl('/media/estadios/'.$this->informacionPartido['estadio']['fotografia']);?>"/>
						</li>
					</ul>
					Superficie de la cancha: <?php echo strtoupper($this->informacionPartido['estadio']['terreno']);?>
					<ul class="thumbnails">
						<li class="span12">
							<img src="<?php echo $this->baseUrl('/media/superficie/superficie'.$this->informacionPartido['estadio']['superficie'].'.jpg');?>"/>
						</li>
					</ul>
				</p>
				<?php }
				if($this->informacionPartido['arbitro']){?>
				<h4 class="well well-small"> Arbitro del partido</h4>
				Nombre: <?php echo $this->informacionPartido['arbitro']['nombre'];?><br>
				<ul class="thumbnails">
						<li class="span12">
							<img src="<?php echo $this->baseUrl('/media/arbitros/'.$this->informacionPartido['arbitro']['fotografia']);?>"/>
						</li>
				</ul>
				<?php }?>
			</div>
			<div class="span8">
				<div class="row-fluid">
					<div class="span5">
					<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
											$this->torneoid.'/equipo/'.$this->informacionPartido['partido']['equipolocalid']);?>">
						<div class="text-center">
							<ul class="thumbnails">
								<li class="span12">
									<div class="thumbnail">
										<h3><?php echo $this->informacionPartido['partido']['equipolocal'];?></h3>
										<img height="180" src="<?php echo $this->baseUrl('/media/escudos/'.$this->informacionPartido['partido']['equipolocalescudo']);?>"  style="height: 180px;"/>								
										<h1 class="text-center well" style="font-size:70px;"><?php echo $this->informacionPartido['partido']['goleslocal'];?></h1>
									</div>
								</li>
							</ul>
						
						</div>
						</a>
					</div>
					<div class="text-center span2" style="font-size:80px;margin-top:140px;">
						VS	
					</div>
					<div class="span5">
						<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
											$this->torneoid.'/equipo/'.$this->informacionPartido['partido']['equipovisitaid']);?>">
						<div class="text-center">
							<ul class="thumbnails">
								<li class="span12">
									<div class="thumbnail">
										<h3><?php echo $this->informacionPartido['partido']['equipovisita'];?></h3>
										<img height="180" src="<?php echo $this->baseUrl('/media/escudos/'.$this->informacionPartido['partido']['equipovisitaescudo']);?>" style="height: 180px;"/>								
										<h1 class="text-center well" style="font-size:70px;"><?php echo $this->informacionPartido['partido']['golesvisita'];?></h1>
									</div>
								</li>
							</ul>
							
						</div>
						</a>
					</div>
				</div>
				<div class="row-fluid">
				<hr>
					<!-- EVENTOS -->
					<h3 class="well well-small text-center">Eventos del partido</h3>
					<table id="tabla" class="table table-striped table-bordered" >
						<thead>
							<tr>
								<th class="text-center" width="10">Min</th>
								<th class="text-center" >Evento</th>
								<th class="text-center">Equipo</th>
								<th class="text-center">Jugador</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->informacionEventos as $evento){?>
								<tr>
									<td class="text-center"><small><?php echo $evento['minuto'];?></small></td>
									<td><img src="<?php echo $this->baseUrl('/media/eventos/'.$evento['icono']);?>"/> <small><?php echo ' '.$evento['descripcion'];?></small></td>
									<td><small><?php echo $evento['equipo'];?></small></td>
									<td><small><?php echo $evento['jugador'].' '.$evento['jugadorap'].' '.$evento['jugadoram'];?></small></td>
								</tr>
							<?php }?>
						</tbody>
					</table>
				</div>
				<div class="row-fluid">
					<!-- MAPA GOOGLE MAPS -->
					<h3 class="well well-small text-center">Mapa del estadio/cancha</h3>
					<div id="map-canvas" style="width: 100%; height: 400px"></div>
				</div>
			</div>
			
		</div>
	
		<div class="row-fluid espacio">
			<div class="span12 widget2">
				<div class="page-header"><h3>Comentarios</h3></div>
				<?php  $web= parse_url($this->serverUrl(true));?>
				<fb:comments id="fbplugin" href="<?php echo $web['host'].$web['path'];?>"  num_posts="5"></fb:comments>
			</div>
		</div>		
	</div>
</div>
