<?php 
$web= parse_url($this->serverUrl(true));
$this->headMeta()->setProperty('og:title', 'Torneo/Liga - '.$this->informacionTorneo['nombre']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/logos/'.$this->informacionCreador['logo']);
$this->headMeta()->setProperty('og:description','Resultados y Calendario del torneo/liga '.$this->informacionTorneo['nombre'] );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>

<script type="text/javascript">
	$(document).ready(function(){

			oTable=$('#tabla').dataTable({
				"bJQueryUI": false,
				"bProcessing":true,
				"aaSorting":[],
				"bPaginate":false,
				"sDom": "<'tbl_buscar'lfr<'clear'>><'tbl_tools'T<'clear'>>t<'widget-bottom'ip>",
				"oTableTools":{
					"sSwfPath":"<?php echo $this->baseUrl().'/swf/copy_csv_xls_pdf.swf'; ?>",
					"aButtons": [
									{
										"sExtends": "copy",
										"sButtonText": "Copiar"
									},
									{
										"sExtends": "xls",
										"sButtonText": "Excel"
									},
									{	"sExtends":"pdf",
										"sButtonText":"Pdf"
									},
									{	"sExtends":"print",
										"sButtonText":"Imprimir"
									}
								]
				},
				"oLanguage": {
	                "sUrl": "<?php echo $this->baseUrl().'/spanish.txt';?>"
	            }
			});

			var njor=$('#combojornada').val();
			$('.jornada-'+njor).css('display','');
			$('#titulojornada').text('Resultados de la Jornada '+njor);

			$('#combojornada').change(function(){
				$('.jornada-'+njor).css('display','none');
				njor=$('#combojornada').val();
				$('.jornada-'+njor).css('display','');
				$('#titulojornada').text('Resultados de la Jornada '+njor);
			});
			
		});
</script>


<!-- Titulo del torneo -->
<div class="row-fluid espacio">	
	<div class="span12 widget2">
		<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.$this->torneoid);?>">
		<div style="float:left"><h2><?php echo $this->informacionTorneo['nombre']." ";?></h2></div>
		</a>
		<div style="float: left;width: 200px;margin-top: 20px;margin-left: 25px;">
			<fb:like href="<?php echo $this->serverUrl(true);?>" send="true" layout="button_count" width="450" show_faces="true"></fb:like>
		</div>
	</div>
</div>
<!-- Fin Titulo del torneo -->

<div class="row-fluid espacio">
	<div class="span3 widget2">Sponsors</div>
	<div class="span9 widget2">
		<div class="page-header">
			<h3 id="titulojornada">Jornadas del Torneo</h3>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="text-center">
					Seleccione una Jornada 
					<select id="combojornada" class="span3">
					<?php $njor=0;if($this->resultadosJornadas)
					foreach($this->resultadosJornadas as $jornada){
					
					$fecha=new Zend_Date($jornada['fechajornada']);
					if($njor!=$jornada['njornada']){
					?>
					<option value="<?php echo $jornada['njornada'];?>">Jornada <?php echo ($jornada['njornada']<'10'?'0'.$jornada['njornada']:$jornada['njornada'] )." - ".$fecha->toString("dd'/'MM'/'yyyy"); ?></option>
			 
					<?php } $njor=$jornada['njornada']; 	}?>
					</select>	 
				</div>
				
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<table id="tabla" class="table table-bordered ">
				<thead>
					<tr>
						<th class="text-center">Fecha</th>
						<th class="text-center">Hora</th>
						<th class="text-left">Estadio</th>
						<th class="text-center">Local</th>
						<th class="text-center">vs</th>
						<th class="text-center">Visita</th>
						<th class="text-center">Detalle</th>
					</tr>
				</thead>
				<tbody>
			<?php $i=1; if($this->resultadosJornadas)
				foreach($this->resultadosJornadas as $jornada){
				$fechahora=new Zend_Date($jornada['fechahora']);?>
					<tr class="jornada-<?php echo $jornada['njornada'];?>" style="display: none;">
						<td class="text-center">
							<small>
							<?php echo $fechahora->get(Zend_Date::DATE_SHORT,'es');?>
							</small>
						</td>
						<td class="text-center">
							<small>
							<?php echo $fechahora->get(Zend_Date::TIME_SHORT,'es');?>
							</small>
						</td>
						<td class="text-center">
							<small>
								
							</small>
						</td>
						<td class="text-left">
							<img src="<?php echo $this->baseUrl('/media/escudos/'.$jornada['escudolocal']);?>" width=24 height=24 style="margin-right: 10px;"/>
							<small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
							$this->torneoid.'/equipo/'.$jornada['localid']);?>"><?php echo $jornada['local'];?></a>
							</small>
						</td>
						<td class="text-center">
						<small><span class="badge badge-info"><?php echo $jornada['goleslocal']." - ".$jornada['golesvisita'];?></span></small>
						</td>
						<td class="text-right">
							<small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
							$this->torneoid.'/equipo/'.$jornada['visitaid']);?>"><?php echo $jornada['visita'];?></a>
							</small>
							<img src="<?php echo $this->baseUrl('/media/escudos/'.$jornada['escudovisita']);?>" width=24 height=24 style="margin-right: 10px;"/>
						</td>
						<td class="text-center">
							<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
									$this->torneoid.'/partido/'.$jornada['partidoid']);?>">
								<i class=" icon-list-alt"></i>
							</a>
						</td>
					</tr>
			<?php $i++;}?>
				</tbody>
			</table>
			</div>
		</div>
		<div class="row-fluid espacio">
			<div class="span12 widget2">
				<div class="page-header"><h3>Comentarios</h3></div>
				<?php  $web= parse_url($this->serverUrl(true));?>
				<fb:comments id="fbplugin" href="<?php echo $web['host'].$web['path'];?>"  num_posts="5"></fb:comments>
			</div>
		</div>		
	</div>
	
</div>
