<?php 
$web= parse_url($this->serverUrl(true));
$this->headMeta()->setProperty('og:title', 'Torneo/Liga - '.$this->informacionTorneo['nombre']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/logos/'.$this->informacionCreador['logo']);
$this->headMeta()->setProperty('og:description','Torneo o Liga '.$this->informacionTorneo['nombre'].' mira los resultados, tabla de posiciones y mas en EstadioTotal.com ' );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>

<script type="text/javascript">
	$(document).ready(function(){

			oTable=$('#tabla').dataTable({
				"bJQueryUI": false,
				"bProcessing":true,
				"aaSorting":[],
				"bPaginate":false,
				"sDom": "<'tbl_buscar'lfr<'clear'>><'tbl_tools'T<'clear'>>t<'widget-bottom'ip>",
				"oTableTools":{
					"sSwfPath":"<?php echo $this->baseUrl().'/swf/copy_csv_xls_pdf.swf'; ?>",
					"aButtons": [
									{
										"sExtends": "copy",
										"sButtonText": "Copiar"
									},
									{
										"sExtends": "xls",
										"sButtonText": "Excel"
									},
									{	"sExtends":"pdf",
										"sButtonText":"Pdf"
									},
									{	"sExtends":"print",
										"sButtonText":"Imprimir"
									}
								]
				},
				"oLanguage": {
	                "sUrl": "<?php echo $this->baseUrl().'/spanish.txt';?>"
	            }
			});
		
		});
</script>


<!-- Titulo del torneo -->
<div class="row-fluid espacio">	
	<div class="span12 widget2">
		<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.$this->torneoid);?>">
		<div style="float:left"><h2><?php echo $this->informacionTorneo['nombre']." ";?></h2></div>
		</a>
		<div style="float: left;width: 200px;margin-top: 20px;margin-left: 25px;">
			<fb:like href="<?php echo $this->serverUrl(true);?>" send="true" layout="button_count" width="450" show_faces="true"></fb:like>
		</div>
	</div>
</div>
<!-- Fin Titulo del torneo -->

<div class="row-fluid espacio">
	<div class="span3 widget2">Sponsors</div>
	<div class="span9 widget2">
		<div class="page-header">
			<h3>Tabla de posiciones</h3>
		</div>
		<div class="row-fluid">
			<div class="span12">
			<table id="tabla" class="table table-striped table-bordered ">
				<thead>
					<tr>
						<th class="text-center">Lugar</th>
						<th class="text-left">Equipo</th>
						<th class="text-center">JJ</th>
						<th class="text-center">JG</th>
						<th class="text-center">JP</th>
						<th class="text-center">JE</th>
						<th class="text-center">GF</th>
						<th class="text-center">GC</th>
						<th class="text-center">DIF</th>
						<th class="text-center">PTS</th>
					</tr>
				</thead>
				<tbody>
			<?php $i=1; foreach($this->tablaGeneral as $equipo){?>
					<tr>
						<td class="text-center">
							<small>
							<?php echo $i;?>
							</small>
						</td>
						<td class="text-left">
							<img src="<?php echo $this->baseUrl('/media/escudos/'.$equipo['escudo']);?>" width=24 height=24 style="margin-right: 10px;"/>
							<small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
							$this->torneoid.'/equipo/'.$equipo['equipoid']);?>"><?php echo $equipo['nombre'];?></a>
							</small>
						</td>
						<td class="text-right">
							<small><?php echo $equipo['JJ']?></small>
						</td>
						<td class="text-right">
							<small><?php echo $equipo['JG']?></small>
						</td>
						<td class="text-right">
							<small><?php echo $equipo['JP']?></small>
						</td>
						<td class="text-right">
							<small><?php echo $equipo['JE']?></small>
						</td>
						<td class="text-right">
							<small><?php echo $equipo['GF']?></small>
						</td>
						<td class="text-right">
							<small><?php echo $equipo['GC']?></small>
						</td>
						<td class="text-right">
							<small><?php echo $equipo['DIF']?></small>
						</td>
						<td class="text-center">
							<small><strong><?php echo $equipo['PTS']?></strong></small>
						</td>
					</tr>
			<?php $i++;}?>
				</tbody>
			</table>
			</div>
		</div>		
	</div>
	
</div>
