<?php 
$web= parse_url($this->serverUrl(true));
$this->headMeta()->setProperty('og:title', 'Torneo - '.$this->informacionTorneo['nombre']);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://'.$web['host'].$web['path']);
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/media/logos/'.$this->informacionCreador['logo']);
$this->headMeta()->setProperty('og:description','Torneo o Liga '.$this->informacionTorneo['nombre'].' mira los resultados, tabla de posiciones y mas en EstadioTotal.com ' );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>
<!-- Titulo del torneo -->
<div class="row-fluid espacio">	
	<div class="span12 widget2">
		<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.$this->torneoid);?>">
		<div style="float:left"><h2><?php echo $this->informacionTorneo['nombre']." ";?></h2></div>
		</a>
		<div style="float: left;width: 200px;margin-top: 20px;margin-left: 25px;">
			<fb:like href="<?php echo $this->serverUrl(true);?>" send="true" layout="button_count" width="450" show_faces="true"></fb:like>
		</div>
	</div>
</div>
<!-- Fin Titulo del torneo -->
<?php if($this->noticiasTorneo){?>
<!-- Row de Noticias y fbcomments-->
<div class="row-fluid espacio">
		<!-- noticias -->
		<div class="span6 widget2">
			<div class="page-header">
				<h3>Últimas noticias y avisos</h3>
			</div>
			<div class="wrap-noticias">
			<?php
				$locale= new Zend_Locale('es_MX');
				
			   foreach ($this->noticiasTorneo  as $torneo){	
					$date= new Zend_Date($torneo['cFecha'],false,$locale);
				?>
				<div class="noticias" style="border-bottom: 1px #EEE solid;padding:10px">
					<div style="text-align: justify">	
						<?php echo $this->escape($torneo['cTexto']);?>
					</div>
					<div class="pull-rigth">
									<small class="muted">Administrador - <?php echo $date->get(Zend_Date::DATETIME_FULL,'es');?></small>
					</div>
				</div>
			<?php }?>
			</div>
		</div>
		<!-- Comentarios -->
		<div class="span6 widget2">
			<div class="comentariosfb">
					<h3>Comentarios</h3>
					<?php $web= parse_url($this->serverUrl(true));?>
					<fb:comments id="fbplugin" href="<?php echo $web['host'].$web['path'];?>"  num_posts="5"></fb:comments>			
			</div>
		</div>
</div>

<!-- Fin Row de Noticias y fbcomments-->
<?php } ?>

<?php 
	if($this->ultimaJornada){
	$dateini= new Zend_Date($this->ultimaJornada[0]['fechainicio']);
	$datefin= new Zend_Date($this->ultimaJornada[0]['fechafin']);
	
?>
<div class="row-fluid espacio">
	<div class="span9 widget2">
		<div class="page-header">
			<h3>Resultados de la última jornada <small> Jornada <?php echo $this->ultimaJornada[0]['numerojornada']." - "
					.$dateini->toString("d ' de ' MMMM ' de ' YYYY "). " al ".$datefin->toString("d ' de ' MMMM ' de ' YYYY ");?></small></h3>
		</div>
		<div class="row-fluid">
			<div class="span12">
			<table class="table table-striped table-bordered ">
				<thead>
					<tr>
						<th class="text-center">Fecha</th>
						<th class="text-center">Hora</th>
						<th class="text-center">Local</th>
						
						<th class="text-center">vs</th>
		
						<th class="text-center">Visita</th>
						<th class="text-center">Ficha</th>
					</tr>
				</thead>
				<tbody>
			<?php 
			foreach($this->ultimaJornada as $partido){
				$fechapartido= new Zend_Date($partido['fechahora']);	
			?>
					<tr>
						<td class="text-center">
							<small>
							<?php echo $fechapartido->toString("d'/'MMM'/'YYYY");?>
							</small>
						</td>
						<td class="text-center">
							<small><?php echo $fechapartido->toString("hh':'mm");?>
							</small>
						</td>
						<td class="text-left">
							<img src="<?php echo $this->baseUrl('/media/escudos/'.$partido['escudolocal']);?>" width=24 height=24 style="margin-right: 10px;"/>
							<small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
									$this->torneoid.'/equipo/'.$partido['equipolocalid']);?>"><?php echo $partido['equipolocal'];?></a></small>
						</td>
						<td class="text-center">
							<small><span class="badge badge-info"><?php echo $partido['goleslocal']." - ".$partido['golesvisita'];?></span></small>
						</td>
						<td class="text-right">
						<small><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
									$this->torneoid.'/equipo/'.$partido['equipovisitaid']);?>"><?php echo $partido['equipovisita'];?></a></small>
						<img src="<?php echo $this->baseUrl('/media/escudos/'.$partido['escudovisita']);?>" width=24 height=24 style="margin-left: 10px;"/>
						</td>
						<td class="text-center">
							<a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
									$this->torneoid.'/partido/'.$partido['partidoid']);?>">
								<i class=" icon-list-alt"></i>
							</a>
						</td>
					</tr>
			<?php }?>
				</tbody>
			</table>
			</div>
		</div>		
	</div>
	<div class="span3 widget2">
		<div class="page-header">
			<h3>Goleadores</h3>
				<?php foreach($this->goleadoresTorneo as $jugador){?>
				<div class="media">
		            <a class="pull-left" href="#">
		                <img class="media-object" alt="<?php echo $jugador['nombre'];?>" style="width: 60px; height: 60px;" src="<?php echo $this->baseUrl('/media/jugadores/'.$jugador['fotografia']);?>">
		            </a>
    	        	<div class="media-body">
	                	<h6 class="media-heading"><?php echo $jugador['nombre'];?></h6>
	                	<small>
	                	      <?php echo 'Equipo: '.$jugador['equipo'];?><br>
	                		  <?php echo 'Goles: <span class="badge badge-success">'.$jugador['total'].'</span>';?>
	                	</small>
	              	</div>	
	            </div>
				<?php }?>
		</div>
	</div>
</div>
<?php }?>

<?php if(!$this->noticiasTorneo){?>
<!-- si no tiene noticias solo se muestran los comentarios -->
<div class="row-fluid">
	<div class=" span12 widget2">
			<div class="comentariosfb">
					<div class="page-header">
						<h3>Comentarios</h3>
					</div>
					<fb:comments id="fbplugin" href="<?php echo $this->serverUrl(true);?>"  num_posts="5"></fb:comments>			
			</div>
	</div>
</div>
<!-- Fin fb comments -->
<?php }?>
