<?php  $web= parse_url($this->serverUrl(true));?>
<div class="row-fluid">
	<div class="span12 espacio">
			<div class="page-header">
					<h3 class="negrita">Dudas o Comentarios...
					<small> Deja tu mensaje y en breve nos comunicamos contigo</small>
					</h3>
			</div>
			<fb:comments id="fbplugin" href="<?php echo $web['host'].$web['path'];?>"  num_posts="5"></fb:comments>
	</div>
</div>