<?php 
$this->headMeta()->setProperty('og:title', 'EstadioTotal.com');
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', 'http://www.estadiototal.com');
$this->headMeta()->setProperty('og:image', 'http://www.estadiototal.com/css/img/logo/estadioTotalgrande.jpg');
$this->headMeta()->setProperty('og:description','Administra tus ligas y torneos de futbol de manera fácil y rápida' );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'EstadioTotal.com');
?>


<style type="text/css">
/*body{background:  #000629 url(<?php echo $this->baseUrl('/img/estadiobackazul.jpg');?>) no-repeat center top;}*/
.widget2{position: relative;padding: 14px 19px 14px;background-color: white;border: 1px solid #DDD;
-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
}
.thumbnail img{
	height:200px!important;
}
</style>
<div class="row-fluid">
	<div class="fb-like" data-href="http://www.estadiototal.com" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true" style="width:80%!important;position: absolute!important;top: 68px;padding-left: 5%;z-index:99;"></div>
	<fb:facepile href="http://www.estadiototal.com" size="large" max_rows="4" width="80%"></fb:facepile>
</div>
<div class="row-fluid espacio" style="display:none">
	<div class="span12 widget2">
		<div class="span3">
			<h3 style="text-align: center;">ADMINISTRA TUS EQUIPOS</h3>
			<p style="text-align: justify;">Toma el control de los equipos registrados en tus ligas o torneos, podrás incluir el escudo de tu equipo, datos generales de tu equipo, incluye el facebook y twitter de tus equipos además de compartir la información de mas relevante de estadísticas y gráficas de cada equipo registrado en tu liga o torneo.</p>
		</div>
		<div class="span3">
			<h3 style="text-align: center;">ESTADISTICAS DE JUGADORES</h3>
			<p style="text-align:justify;">EstadioTotal.com te brinda un modulo de jugadores donde tu podrás especificar información de tus jugadores, asignarlos a equipos, incluir fotografía de jugador, el sistema contabiliza automáticamente los goles anotados, faltas, tiros de esquinas, saques de banda realizados en el torneo.</p>
		</div>
		<div class="span3">
			<h3 style="text-align: center;">MANEJA TABLA DE POSICIONES</h3>
			<p style="text-align: justify;">contabiliza de manera automática los puntos generados por triunfo de un equipo, también EstadioTotal.com te permite restar o sumar puntos extras a los equipos, tendrás las estadísticas de tu equipos de manera fácil y sencilla.</p>
		</div>
		<div class="span3">
			<h3 style="text-align: center;">SOCIALIZA TU LIGA</h3>
			<p style="text-align: justify;">contabiliza de manera automática los puntos generados por triunfo de un equipo, también EstadioTotal.com te permite restar o sumar puntos extras a los equipos, tendrás las estadísticas de tu equipos de manera fácil y sencilla.</p>
		</div>
	</div>
</div>
<div class="row-fluid espacio espacio">
	<div class="widget2 span12">
		<div class="page-header">
				<h2>ÚLTIMOS TORNEOS CREADOS</h2>
		</div>
		<ul class="thumbnails">
		<?php $i=0; 
		foreach($this->ultimostorneos as $torneo){	
		if($i%4==0 && $i>0){echo '</ul></div><div class="row-fluid"><ul class="thumbnails">';}
		?>
			<li class="span3">
				<div class="thumbnail">
					<h4 style="overflow: hidden;text-align: center;" class="well"><?php echo $torneo['nombretorneo'];?></h4>

					<img src="<?php echo $this->baseUrl((file_exists((APPLICATION_PATH.'/../public/media/logos/'.$torneo['logo']))?'/media/logos/'.$torneo['logo']:'/media/standar/liga.jpg'));?>"/>
					<div class="caption">
						
						<dl>
						<dt>Organización</dt>
						<dd> <?php echo " ".$torneo['nombreorganizacion'];?></dd>
						<dt>Temporada</dt>
						<dd> <?php echo " ".$torneo['nombretemporada']; ?></dd>
						</dl>
						
						<p><a href="<?php echo $this->baseUrl('/'.$torneo['organizacionurl'].'/torneo/'.$torneo['torneoid']);?>" class="btn btn-block btn-primary">Ver torneo</a></p>
					</div>
				</div>
			</li>
		
		<?php $i++;}?>
		</ul>
		</div>
</div>

<div class="row-fluid espacio">
		<div class="offset10 span2">
			<a href="<?php echo $this->baseUrl('/torneos/pagina/1');?>" class="btn btn-block btn-large btn-success">Todos los torneos >></a>			
		</div>
</div>
	