<div class="row-fluid">
	<div class="span12 espacio">
		<div class="hero-unit">
		<h3>¿ Que es ?</h3>
		<p>
			EstadioTotal.com es una aplicación web que le proporciona a su organizacion, asociacion o federacion de futbol las herramientas para llevar de manera optima y precisa la administracion de sus temporadas, ligas, calendarios, resultados, jugadores y equipos de manera eficiente y en linea de forma gratuita.
		</p>
		 <h3>Soluciones de administración</h3>
	<p>Con EstadioTotal.com tu puedes imprimir tu rol de juegos por jornada, capturar todas los eventos de un partido (faltas, goles, tarjetas, tiros a gol, saque de banda, etc) esta información será mostrada en el resumen de cada partido, además de generar estadísticas utiles para los administradores del torneo. 
		Tendras una link de acceso directo a tu organización de futbol como la siguiente http://www.estadiototal.com/mi_liga en la cual todos tus jugadores o personas que deseen mirar los resultados o tener el rol de juegos, asi como la posicion en tabla general de su equipo lo podran hacer en linea. 
		</p>
		</div>
	</div>
</div>