<?php  $web= parse_url($this->serverUrl(true));?>



<div class="row-fluid">
	<div class="span12 espacio">
	<?php if(empty($this->confirmacion)){?>
	<h2>Registro de usuario con Facebook</h2>
		
			<fb:registration 
			  fields="name,birthday,gender,location,email,password" 
			  redirect-uri="http://<?php echo $web['host'].$web['path'];?>"
			  width="100%"
			  border_color="#fff">
			</fb:registration>
	<?php }else{?>
			<div class="hero-unit">
				<h1>Ya casi estas registrado </h1>
				<p>
					Te envíamos un correo electronico al email que proporcionaste, por favor ve
					a tu bandeja de entrada y abre el correo de confirmación solo te falta dar click
					en el boton de activar tu cuenta para que puedas accesar a nuestro sistema.
				</p>			
			</div>
	<?php }?>
	</div>
</div>
  

