<style type="text/css">
body{background:  #000629 url(<?php echo $this->baseUrl('/img/estadiobackazul.jpg');?>) no-repeat center top;}
.thumbnails li img{
	height:200px!important;
}
</style>
<div class="row-fluid">
<?php
$page = $this->page;
$page=(int)$page;
$paginator=Zend_Paginator::factory($this->ultimostorneos);
$paginator->setItemCountPerPage(10);
$paginator->setCurrentPageNumber($page);
echo $this->paginationControl($paginator,'Elastic','/partials/control.phtml');
?></div>
<?php 
if(count($paginator)){
	foreach ($paginator as $torneo){
		?>
		<div class="row-fluid">
			
			<div class="offset3 span6 offset3 widget" style="cursor:pointer;">
			<a href="<?php echo $this->baseUrl('/'.$torneo['organizacionurl'].'/torneo/'.$torneo['torneoid']); ?>">
				<div class="page-header">
					<h3 class="negrita"><?php echo $torneo['nombretorneo']." ";?>
					<small><?php echo ($torneo['tipotorneo']==0)?'Torneo de liga':'Torneo de copa'; ?></small>
					</h3>
				</div>
				<div class="row-fluid">
					<div >
						<ul class="thumbnails span6">
							<li class="span12" style="text-align: center;" >
									<img src="<?php echo $this->baseUrl((file_exists((APPLICATION_PATH.'/../public/media/logos/'.$torneo['logo']))?'/media/logos/'.$torneo['logo']:'/media/standar/liga.jpg'));?>"/>
							</li>
						</ul>
						<dl class="span6">
								<dt>
									Organización:
								</dt>
								<dd class="text-info text-center">
									<?php echo " ".$torneo['nombreorganizacion'];?>
								</dd>
								<dt>
									Temporada:
								</dt>
								<dd class="text-info text-center"> 
									<?php echo $torneo['nombretemporada'];?>
								</dd><dt>
									Número de equipos:
								</dt>
								<dd class="text-info text-center"> 
									<?php echo ($torneo['totalequipos']>0)?'<span class="badge badge-success">'.$torneo['totalequipos'].'</span>':'<span class="badge badge-important">'.$torneo['totalequipos'].'</span>';?> Equipos participantes
								</dd>
							</dl>
					</div>
				</div>
			</a>
			</div>
			
		</div>
		<?php
	}
}
?>
<div class="row-fluid">
<?php 
echo $this->paginationControl($paginator,'Elastic','/partials/control.phtml');
?>
</div>