<?php 
$web= parse_url($this->serverUrl(true));
$this->headScript()->offsetSetFile(200,"http://code.jquery.com/ui/1.10.3/jquery-ui.js"); ?>
<?php $this->headLink()->appendStylesheet("http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"); ?>
<?php $this->headScript()->offsetSetFile(201,$this->baseUrl("/js/jquery.ui.datepicker-es.js"));?>
<?php $this->headLink()->appendStylesheet($this->baseUrl("/js/jquery.ptTimeSelect.css")); ?>
<?php $this->headScript()->offsetSetFile(201,$this->baseUrl("/js/jquery.ptTimeSelect.js"));?>

<script type="text/javascript">
$(document).ready(function(){

	$('#formNuevopartido').submit(function(event){
			

			var $form = $(this);
			var serializados = $form.serialize();

			$.post("<?php echo $this->baseUrl("/admin/partidos/crearpartido"); ?>",
					serializados,
					function(data){
						console.log(data);
					},
					"json");
			
			event.preventDefault();
		});
	
	$('#fechainicio').datepicker({ dateFormat: 'dd/mm/yy' ,changeMonth: true,
		changeYear: true ,showOptions: { direction: "up" } },$.datepicker.regional['es']);
	$('#fechafinal').datepicker({ dateFormat: 'dd/mm/yy' ,changeMonth: true,
		changeYear: true },$.datepicker.regional['es']);

	$('#fechapartido').datepicker({ dateFormat: 'dd/mm/yy' ,changeMonth: true,
		changeYear: true },$.datepicker.regional['es']);

	$('#horapartido').ptTimeSelect({hoursLabel:     'Horas',
	        minutesLabel:   'Minutos',
	        setButtonLabel: 'Aceptar'});

	$('#selectjornada').change(function(){
		$('#divNuevopartido').slideUp();
		var jornadaid=$('#selectjornada').val();
		$('#jornadaid').val(jornadaid);
		if($('#crearpartidojornadaid')){
			$('#crearpartidojornadaid').val(jornadaid);
		}
		seleccionar_jornada();
	});

	$('#divNuevopartido').hide();

	$('#btnAgregarpartido').click(function(){
			$('#divNuevopartido').slideToggle();
		});

	$('#btnCerrarpartidos').click(function(){
		$('#divNuevopartido').slideUp();
	});
	
	$('#jornadaid').val($('#selectjornada').val());
	if($('#crearpartidojornadaid')){
		$('#crearpartidojornadaid').val($('#selectjornada').val());
	}

	function seleccionar_jornada(){
		var jid =$('#selectjornada').val();
		crearpartidojornadaid
		if(jid){
			$.post("<?php echo $this->baseUrl("/admin/partidos/obtienepartidos");?>",
					{jornadaid:jid,torneoid:<?php echo $this->torneoid;?>},
					function(data){
							if(data.length>0){
								var 	html='<table class="table table-striped">';
										html+='<thead>';
										html+='<tr>';
										html+='<th>Fecha y Hora</th>';
										html+='<th>Equipo Local</th>';
										html+='<th>vs</th>';
										html+='<th>Equipo Visita</th>';
										html+='</tr>';
										html+='</thead>';
										html+='<tbody>';	
							 	for(var i=0 ; i<data.length; i++){
								 		html+='<tr>';
								 		html+='<td>'+data[i].fechahora+'</td>';
								 		html+='<td>'+data[i].nombrelocal+'</td>';
								 		html+='<td>VS</td>';
								 		html+='<td>'+data[i].nombrevisita+'</td>';
								 		html+='</tr>';
							 	}
							 			html+='</tbody>';
							 			html+='</table>';
							 			$('#tabla').html(html);
							}
						},
						"json"
					);
		}
	}

	seleccionar_jornada();
	
	$('#deletebutton').click(function(){
			$('#formBorrarjornada').submit();
		});
	
});
</script>

<div class="row espacio">
	<!-- BREADCRUMB -->
	<div class="row">
		<div class="span12">
			<ul class="breadcrumb">
			  <li><a href="<?php echo $this->baseUrl("/admin");?>">Dashboard</a> <span class="divider">/</span></li>
			  <li><a href="<?php echo $this->baseUrl("/admin/torneos/".$this->torneoid);?>"><?php echo strtolower($this->torneoinfo['nombre']);?></a> <span class="divider">/</span></li>
			  <li class="active">nuevo partido</li>
			</ul>
		</div>
	</div>
	<!-- FIN BREADCRUMB -->
	<div class="row">
		<div class="well">
			<div class="row">
				<div class="offset2 span3 text-center">
						<?php if($this->jornadas){?>
						<h4>Selecciona la jornada</h4>
						<select id="selectjornada" class="span2" placeholder="Selecciona jornada">
							<?php foreach($this->jornadas as $jornada){?>
								<option value="<?php echo $jornada['jornadaid'];?>">Jornada <?php echo $jornada['numerojornada'];?>	</option>
							<?php }?>
						</select>
						<?php }else{?>
							<h3 class="text-info" style="font-weight: normal!important;">No tienes jornadas, es buen momento para crear una nueva jornada </h3>
						<?php }?>
				</div>
				<div class="span2 text-center" style="padding-top:45px;">
				<?php if($this->jornadas){?>
					<h3>Ó</h3>
					<?php }?>
				</div>
				<div class="span3 text-center">
							<h4>Crea una jornada</h4>
							<form id="formulario" action="<?php echo $this->baseurl("/admin/partidos/nuevajornada");?>" method="post" >
		    					<input id="njornada" name="njornada" class="span2" type="text" placeholder="Número de jornada">
		    					<label class="text-center" style="width: 100%;">Inicio de la jornada</label>
	    						<input id="fechainicio" name="fechainicio" class="span2" type="text" value="<?php $date =  new Zend_Date('es_MX'); echo $date->toString("dd/MM/YYYY");?>">
	    						<label class="text-center" style="width: 100%;">Fin de la jornada</label>
	    						<input id="fechafinal" name="fechafin" class="span2" type="text" value="<?php $date =  new Zend_Date('es_MX'); echo $date->toString("dd/MM/YYYY");?>">
	    						<input id="torneoid" name="torneoid" type="hidden" value="<?php echo $this->torneoid;?>">
								<button type="submit" class="btn btn-success "><i class="icon-plus icon-white"></i> Nueva jornada</button>
							</form>
					
				</div>
			</div>
		</div>
	</div>
	<?php if($this->jornadas){?>
	<div class="row">
		<form id="formBorrarjornada" action="<?php echo $this->baseUrl("/admin/partidos/eliminarjornada");?>" method="post">
			<input id="jornadaid" name="jornadaid" type="hidden"  value="">
			<input id="deltorneoid" name="deltorneoid" type="hidden" value="<?php echo $this->torneoid; ?>">
		</form>
		<div class="row">
			<div class="span12" style="margin-bottom: 15px;">
			<a style="margin-right: 10px;" href="#myModal" role="button" class="btn btn-danger btn-large" data-toggle="modal"><i class="icon-minus icon-white"></i> Eliminar Jornada</a>
			<button type="button" id="btnAgregarpartido" style="margin-right: 10px;"  role="button" class="btn btn-info btn-large"><i class="iconx-fechapartido iconx-white"></i> Agregar Partido</button>
			</div>
		</div>
		<div  class="row">
			<div id="divNuevopartido">
				<div class="offset2 span8 well">
					<div class="row">
						<div class="span8">
							<button id="btnCerrarpartidos" class="close">&times;</button>
						</div>
					</div>
					<?php if($this->equipos){?>
					<div class="row">
						<form id="formNuevopartido" method="post">
						<div class="span3 text-center">
							<h4 class="text-center">Equipo Local</h4>
							<select id="selectjornada"  placeholder="Selecciona jornada">
								<?php foreach($this->equipos as $equipo){?>
									<option value="<?php echo $equipo['equipoid'];?>"><?php echo $equipo['nombre'];?>	</option>
								<?php }?>
							</select>
						</div>
						<div class="span2 text-center" style="padding-top:10px;"> 
							<h2>VS</h2>
						</div>
						<div class="span3 text-center">
							<h4 class="text-center">Equipo Visita</h4>
							<select id="selectjornada"  placeholder="Selecciona jornada">
								<?php foreach($this->equipos as $equipo){?>
									<option value="<?php echo $equipo['equipoid'];?>"><?php echo $equipo['nombre'];?>	</option>
								<?php }?>
							</select>
						</div>
							<div class="offset2 span4 text-center" style="margin-top:20px;">
									<label>Fecha del partido</label>
									<input id="fechapartido" name="fechapartido" class="span2" type="text" value="<?php $date =  new Zend_Date('es_MX'); echo $date->toString("dd/MM/YYYY");?>">
									<br>
									<label>Hora del partido</label>
									<input id="horapartido" name="horapartido" class="span2" type="text" value="12:00:00">
									<br>
									<input id="crearpartidojornadaid" name="jornadaid" type="hidden" value="">
									<input  name="torneoid" type="hidden"  value="<?php echo $this->torneoid; ?>">
									<input type="submit" value="Crear partido" class="btn btn-success btn-large"></input>
							</div>
					</div>
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div id="tabla">
						
				</div>
			</div>
		</div>
	</div>
	<?php }?>
</div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">¿Deseas eliminar la jornada completamente?</h4>
  </div>
  <div class="modal-body">
    <p>Recuerda que una vez borrada la jornada los puntos, juegos y estadísticas de tus equipos generados por estos
    partidos serán borrados</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button id="deletebutton" class="btn btn-primary">Eliminar</button>
  </div>
</div>
