 <?php if ($this->pageCount): ?>
<div class="pagination pagination-large pagination-centered">
<!-- Previous page link -->
<ul>
	<?php if (isset($this->previous)): ?>
	  <li>
		  <a href="<?php echo $this->baseUrl().'/torneos/pagina/'.$this->previous; ?>">
		    &lt; Anterior
		  </a> 
	  </li>
	<?php else: ?>
	  <li class="disabled">
	  		<span>&lt; Anterior</span> 
	  </li>
	<?php endif; ?>
	 
	<!-- Numbered page links -->
	<?php foreach ($this->pagesInRange as $page): ?>
	  <?php if ($page != $this->current): ?>
	  	<li>
		    <a href="<?php echo  $this->baseUrl().'/torneos/pagina/'.$page; ?>">
		        <?php echo $page; ?>
		    </a>
	    </li>
	  <?php else: ?>
	     <li class="active">
	     	 <span>	<?php echo $page; ?></span>
	     </li>
	  <?php endif; ?>
	<?php endforeach; ?>
	 
	<!-- Next page link -->
	<?php if (isset($this->next)): ?>
		<li>
		  <a href="<?php echo  $this->baseUrl().'/torneos/pagina/'.$this->next; ?>">
		    Siguiente &gt;
		  </a>
	  </li>
	<?php else: ?>
		<li class="disabled">	
	  		<span>Siguiente &gt;</span>
	  	</li>
	<?php endif; ?>
</ul>
</div>
<?php endif; ?>