<?php 
$web= parse_url($this->serverUrl(true));
$sesion= new Zend_Session_Namespace('sesion');
echo $this->doctype('XHTML1_RDFA');
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
$this->setEncoding('UTF-8');
$frontController= Zend_Controller_Front::getInstance();
$modulo=$frontController->getRequest()->getModuleName();
$controlador=$frontController->getRequest()->getControllerName();
$accion=$frontController->getRequest()->getActionName();
?>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head lang="es">
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<?php $this->headScript()->prependFile("https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"); ?>


<?php //NOTIFICACIONES ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/noty/jquery.noty.js"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/noty/layouts/top.js"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/noty/themes/default.js"); ?>

<?php //DATATABLES?>
<?php $this->headScript()->appendFile("http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"); ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/DT_bootstrap.js");?>

<?php //DATATABLES TOOLS?>
<?php $this->headScript()->appendFile($this->Baseurl()."/js/ZeroClipboard.js"); ?>
<?php $this->headScript()->appendFile($this->Baseurl()."/js/TableTools.min.js"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/TableTools.css"); ?>

<?php //BOOTSTRAP JS ?>
<?php  $this->headScript()->appendFile($this->BaseUrl()."/js/bootstrap.min.js"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/bootstrap.min.css"); ?>
<?php 
if($modulo!='admin')
$this->headLink()->appendStylesheet($this->BaseUrl()."/css/bootstrap-responsive.min.css"); ?>

<?php //HOJA DE ESTILOS?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/style.css"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/iconos.css"); ?>

<!-- GOOGLE FONTS -->

<link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>

	<!---------------- Meta Tags----------------------->
	<?php echo $this->headMeta(); ?>
	<!------------------- Title ------------------->
	 <?php     echo $this->headTitle(); ?>
	 <!------------- HeadLink ---------------------->
	<?php 	  echo $this->headLink();	?>
	<!-----------------HeadScript ------------------->
	<?php 	  echo $this->headScript(); ?>
	<div id="fb-root"></div>
	<script type="text/javascript">
		$(document).ready(function(){
			/* ------------------ Mensajes de Notificacion  -------------------  */
				<?php echo $this->notify($this->flashmessenger);?>
				$('.carousel').carousel();
			});
	</script>
</head>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=131312660336014";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36784138-2', 'estadiototal.com');
  ga('send', 'pageview');

</script>

	<body >
		<!----------------------------- Contenido central ------------------------------------------>
		<?php 
			
			if($modulo=='default' && $controlador=='index')
				echo $this->render('menuindex.phtml');
			if($modulo=='home' && $controlador=='index' && $accion=='index')
				echo $this->render('menuorganizacion.phtml');
			if($modulo=='home' && $controlador=='index' && $accion!='index')
				echo $this->render('menutorneo.phtml');
			if($modulo=='admin')
				echo $this->render('menuadministracion.phtml');
			
				
			if($modulo=='default' && $controlador=='index' && $accion=='index')
			{
				?>
				
				<div id="carrusel" class="carousel slide">
				<div class="carousel-inner">
					<div class="item active">
						<img src="<?php echo $this->baseUrl('img/home/home15.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Administra tus torneos</h1>
			              <p class="lead">EstadioTotal.com te ofrece una plataforma fácil y sencilla para tener el control total de tus torneos.</p>
			            </div>
			            </div>
					</div>
					<div class="item">
						<img src="<?php echo $this->baseUrl('img/home/home8.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Manejo de Jugadores</h1>
			              <p class="lead">Con EstadioTotal.com manejaras tus jugadores con mucha facilidad capturando una sola vez su información o ligandola a su facebook de tus jugadores.</p>
			            </div>
			            </div>
					</div>	
					<div class="item">
						<img src="<?php echo $this->baseUrl('img/home/home2.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Organización</h1>
			              <p class="lead">Podrás agrupar tus torneos y ligas en temporadas para tener todo de manera organizada y de fácil acceso a tus usuarios.</p>
			             </div>
			            </div>
					</div>
					<div class="item">
						<img src="<?php echo $this->baseUrl('img/home/home9.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Sociable</h1>
			              <p class="lead">EstadioTotal.com te permite mantener contacto via Facebook comments y botones like en tus ligas,jugadores y equipos.</p>
			            </div>
			            </div>
					</div>
					<div class="item">
						<img src="<?php echo $this->baseUrl('img/home/home10.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Y las Estadisticas</h1>
			              <p class="lead">No te preocupes, en EstadioTotal.com llevamos el control de tus estadisticas por jugador, por equipo y por torneo.</p>
			             </div>
			            </div>
					</div>
					<div class="item">
						<img src="<?php echo $this->baseUrl('img/home/home12.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Estadios y canchas</h1>
			              <p class="lead">Te ofrecemos la opción de seleccionar el lugar de tu encuentro futbolistico seleccionar el lugar con google maps del partido.</p>
			            </div>
			            </div>
					</div>
					<div class="item">
						<img src="<?php echo $this->baseUrl('img/home/home3.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Exporta tu Información</h1>
			              <p class="lead">Podrás exportar toda tu información en cuanto a tablas de resultados, tablas generales, equipos y más.</p>
			            </div>
			            </div>
					</div>
					<div class="item">
						<img src="<?php echo $this->baseUrl('img/home/home13.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Eventos del partido</h1>
			              <p class="lead">En EstadioTotal.com podrás generar toda la información de lo sucedido en tu partido para que este disponible a todos tus usuarios.</p>
			            </div>
			            </div>
					</div>
					<div class="item">
						<img src="<?php echo $this->baseUrl('img/home/home5.jpg'); ?>">
						<div class="container">
						<div class="carousel-caption">
			              <h1>Control Total.</h1>
			              <p class="lead">En EstadioTotal podrás tener el control total de toda tu información generada por tu organización o federación de futbol.</p>
			            </div>
			            </div>
					</div>
					
				</div>
				<a class="carousel-control left" href="#carrusel" data-slide="prev">&lsaquo;</a>
			  	<a class="carousel-control right" href="#carrusel" data-slide="next">&rsaquo;</a>
				</div>
				<?php 
			}
				
			 ?>	   
		<div class="<?php echo ($modulo=='admin')? "container" : "container-fluid";?>">	
				<?php echo $this->layout()->content; ?>
		</div>
		<div class="row-fluid" >
			<div class="well" style="text-align:center;margin-bottom: 0px!important;">
  				<p><small>www.estadiototal.com  México Distrito Federal 2013 <br>
  				Queda prohibida la reproduccion total o parcial, por cualquier medio o forma, sin la autorizacion previa, expresa y por escrito de su titular.
El contenido de cada liga/torneo asi como la información (datos, logos, fotografias, marcas)
contenida en el mismo es propiedad del creador o asociación de futbol que la publica.</small></p>
  			</div>
		</div>
	</body>
</html>
