<div class="navbar navbar-fixed-top">
	<div class="navbar-inner" style="padding:0 10px 0 10px;">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</a>
			<a href="<?php echo $this->baseUrl('/');?>"><img class="logobar" src="http://www.estadiototal.com/css/img/logo/estadiototal.png" width="100" height="36"/></a>
			<a class="brand" href="<?php echo $this->baseUrl('/'.$this->informacionCreador['nombreurl']);?>">
			<?php echo $this->informacionCreador['organizacion'];?></a>
			
			<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="divider-vertical"></li>						 
							<li><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
							$this->torneoid.'/tablageneral');?>">Tabla general</a></li>
							<li class="divider-vertical"></li>
							<li><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
							$this->torneoid.'/jornadas');?>">Calendario y Resultados</a></li>
							<li class="divider-vertical"></li>
							<li><a href="<?php echo $this->baseUrl('/'.$this->organizacion.'/torneo/'.
							$this->torneoid.'/equipos');?>">Equipos</a></li>
							 <li class="divider-vertical"></li>
							<li><a href="#">Estadísticas</a></li>
							 <li class="divider-vertical"></li>
						</ul>
						
			</div>
	</div>
</div>