<script type="text/javascript">
		$(document).ready(function(){
			 var icons = {
			            header: "ui-icon-circle-triangle-e",
			            activeHeader: "ui-icon-circle-triangle-e"
			        };
			
	
				$('.dropdown-toggle').dropdown();

			});
</script>

			<div class="navbar navbar-fixed-top">
					<div class="navbar-inner" style="padding:0 10px 0 10px;">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </a>
					    <a href="<?php echo $this->baseUrl('/');?>"><img class="logobar" src="http://www.estadiototal.com/css/img/logo/estadiototal.png" width="100" height="36"/></a>
						<div class="nav-collapse collapse">
				<!-- ******************* Menú de inicio  **********************-->
						<ul class="nav">
							<li class="divider-vertical"></li>						 
							<li><a href="<?php echo $this->baseUrl('/torneos/pagina/1');?>">Torneos</a></li>
							<li class="divider-vertical"></li>
							<li><a href="http://admin.estadiototal.com/indexet.php?modulo=registro">Registrate aqui</a></li>
							 <li class="divider-vertical"></li>
							<li><a href="<?php echo $this->baseUrl('/contacto');?>">Contacto</a></li>
							 <li class="divider-vertical"></li>
							<li><a href="<?php echo $this->baseUrl('/que_es');?>">¿Qué es?</a></li>
							 <li class="divider-vertical"></li>
							<li><a href="#">Ayuda</a></li>
						</ul>
						<?php 
						$auth=Zend_Auth::getInstance();
						$sesion= new Zend_Session_Namespace('sesion');
						if($auth->hasIdentity()){ ?>
				<!-- ******************* Menú de usuario logueado **********************-->
						<ul class="nav pull-right">
							  <li class="dropdown">
							    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="height: 26px;font-size:12px">
							      <i class="icon-user"></i><?php echo " ".$sesion->usuario['nombre'];?>
							      <b class="caret"></b>
							    </a>
							    <ul class="dropdown-menu">
							    	<li>	
								    	<a href="<?php echo $this->baseUrl("/admin");?>">
											 Panel de administración
										</a>
									</li>
							       <li class="divider"></li>
							       <li>	
								    	<a href="<?php echo $this->baseUrl("/default/index/logout");?>">
											<i class="icon-off"></i> Cerrar sesión
										</a>
									</li>
							    </ul>
							  </li>
						</ul>
						<?php }else{?>
						
						<form class="navbar-form pull-right" method="post" action="<?php echo $this->baseUrl("/");?>">
						  <input name="user" type="text" class="span2" placeholder="Correo electrónico o Nombre de usuario">
						  <input name="pass" type="password" class="span2" placeholder="Password">
						  <button type="submit" class="btn">Login</button>
						</form>
						<?php }?>
						</div>
					</div>
			</div>
				
